<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Exercício</title>
</head>
<body>
    <h2>Cadastrar Novo Exercício</h2>
    <form method="POST">
        <label for="nome">Nome do Exercício:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>
        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" required></textarea><br><br>
        <button type="submit">Cadastrar</button>
    </form>


</body>
</html>
