<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Mãe</title>
</head>
<body>
    <h1>Cadastrar Mãe</h1>
    <form action="{{url_for('cadastro_mae')}}" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" required><br><br>

        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade" required><br><br>

        <button type="submit">Cadastrar Mãe</button>
    </form>
</body>
</html>
