<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscoito</title>
</head>
<body>
    <h1>Olá, preencha o formulario!</h1>
    <a href="{{url_for('login')}}">Pagina de login</a>
    <br>
    <a href="{{url_for('cor')}}">Escolha uma cor</a>
    <br>
    <a href="{{url_for('biscoito')}}">Cookie de sessão</a>
    <br>
    <a href="{{url_for('biscoito2')}}">cookie permanemte</a>
    <br>
    <a href="{{url_for('biscoito3')}}">cookie httponly</a>
</body>
</html>